<h1>String Operations</h1>
<p><strong>Welcome!</strong> This notebook will teach you the basic use and operations of strings in Python language. You'll understand some basic use and operations on strings, including indexing and slicing.</p>

<div class="alert alert-success alertsuccess" style="margin-top: 20px">
<p>[Tip1]: แต่ละช่องเรียกว่า cell ซึ่งอาจเป็น Code หรือ Markdown. Markdown มีไว้สำหรับเขียนคำอธิบายยาวๆ หรือใส่รูปภาพ รวมทั้ง cell นี้ก็เป็น Markdown. เราสามารถเปลี่ยนชนิดของ Cell ได้จาก เมนู <kbd>Cell</kbd> + <kbd>Cell Type</kbd> หรือคำสั่ง <kbd>Y</kbd> เพื่อให้เปลี่ยนเป็น Code หรือ <kbd>M</kbd> ให้เป็น Markdown ก็ได้
<p>[Tip2]: ใช้คำสั่ง <kbd>a</kbd> หรือเมนู <kbd>Insert</kbd> + <kbd>Insert Cell Above</kbd> เพื่อเพิ่มแทรก cell ก่อนหน้า และคำสั่ง <kbd>b</kbd> หรือเมนู <kbd>Insert</kbd> + <kbd>Insert Cell Below</kbd> เพื่อเพิ่มแทรก cell ถัดไป
<p>[Tip3]: การจะทดลองรันโค้ด Python ใน cell ใด ให้คลิกเลือกที่ cell นั้น แล้วกด <kbd>Shift</kbd> + <kbd>Enter</kbd>
<p>[Tip4]: การจะ Restart (หรือ reset) การทำงาน (kernel) ก่อนรันใหม่ ให้ไปที่เมนู <kbd>Kernel</kbd> + <kbd>Restart</kbd> หรือกดคำสั่ง <kbd>0</kbd> <kbd>0</kbd>
<p>[Tip5]: การจะทดลองรันโค้ดจากต้นมาถึงก่อน cell นี้ ให้ไปที่เมนู <kbd>Cell</kbd> + <kbd>Run All Above</kbd>
<p>[Tip6]: การจะ Restart (หรือ reset) การทำงาน (kernel) แล้วให้รันทั้งหมด ให้ไปที่เมนู <kbd>Kernel</kbd> + <kbd>Restart & Run all</kbd>
<p>[Tip7]: Cheat sheet for this Jupyter Notebook can be <a href="https://www.edureka.co/blog/wp-content/uploads/2018/10/Jupyter_Notebook_CheatSheet_Edureka.pdf" target="_blank">downloaded here</a>.
<p>[Tip8]: Writing markdown for notebook can be <a href="https://www.ibm.com/docs/en/db2-event-store/2.0.0?topic=notebooks-markdown-jupyter-cheatsheet" target="_blank">is here</a>.
</div>

String data can be represented using either both single quotation marks or both quotation marks.

In [14]:
'Hello world 101...'  # Use single quotation marks

'Hello world 101...'

In [15]:
"Hello world #123?"   # Use quotation marks

'Hello world #123?'

In [16]:
print('hello!')      # Print the string

hello!

In [9]:
# Assign string to variable

name = "Business Proposal"
name

'Business Proposal'

In [10]:
print(name)

Business Proposal

To replicate values of a string we simply multiply the string by the number of times we would like to replicate it.

In [5]:
3 * "Hello world"  # replicate a string

'Hello worldHello worldHello world'

<h3 id="concat">Concatenate Strings</h3>

In [8]:
# Concatenate two strings

statement = 'Have you watched ' + name + "?"
statement

'Have you watched Beautiful Inside?'

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data.

First, let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [21]:
# Convert all the characters in string to upper case and then lower case

A = "Are we in bangkok?"
print("before upper:", A)

B = A.upper()
print("After upper:", B)

C = A.lower()
print("After lower:", C)

before upper: Are we in bangkok?
After upper: ARE WE IN BANGKOK?
After lower: are we in bangkok?

In [11]:
# Convert a string to its title form, i.e. the first character in each word to Uppercase 
# and remaining characters to Lowercase in the string and returns a new string.

name = "business proposal"
print(name.title())

Business Proposal

The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

### String replace

In [12]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Are we in bangkok?"
B = A.replace('bangkok', 'paris')
B

'Are we in paris?'

The method <code>find</code> finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string <code>jack</code> or <code>el<code>.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsFind.png" width="600" align="center" />

### String find()

In [14]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"

name.find('el')

5

In [15]:
# Find the substring in the string.

name.find('Jack')

8

If the  sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

In [17]:
# If cannot find the substring in the string

name.find('John')

-1

<h2 id="escape">Escape Sequences</h2>

<strong>Back slashes</strong> represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [18]:
# New line escape sequence

print("Na Heedo \n wishes to be a champion.")

Na Heedo
 wishes to be a champion.

Similarly, back slash  "t" represents a tab:

In [19]:
# Tab escape sequence

print("Na Heedo \t wishes to be a champion.")

Na Heedo 	 wishes to be a champion.

 If you want to place a back slash in your string, use a double back slash:

In [20]:
# Include back slash in string

print("Na Heedo \\ wishes to be a champion.")

Na Heedo \ wishes to be a champion.

 We can also place an "r" before the string to display the backslash:

In [21]:
# r will tell python that string will be display as raw string

print(r"Na Heedo \ wishes to be a champion.")

Na Heedo \ wishes to be a champion.

<h2 id="index">Indexing</h2>

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Because indexing starts at 0, it means the first index is on the index 0.
</div>

 The first index can be accessed as follows:

In [24]:
# Print the first element and the element on index 6 in the string

name = 'Michael Jackson'

print(name[0], name[6])

M l

Moreover, we can access the 13th index:

In [25]:
name[13]

'o'

<h3 id="neg">Negative Indexing</h3>

 We can also use negative indexing with strings:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsNeg.png" width="600" align="center" />

Negative index can help us to count the element from the end of the string. <font color='blue'>The last element is given by the index -1: </font>

In [26]:
# Print the last element in the string

print(name[-1])

n

 The first element can be obtained by  index -15:

In [38]:
# Print the first element in the string

print(name[-15])

M

We can find the number of characters in a string by using <code>len</code>, short for length:

In [27]:
# Find the length of string

len("Michael Jackson"), len(name)

(15, 15)

<h3 id="slice">Slicing</h3>

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsSlice.png" width="600" align="center" />

<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)
</div>

In [40]:
# Take the slice on variable Name with only index 0 to index 3

name[0:4]

'Mich'

In [41]:
# Take the slice on variable Name with only index 8 to index 11

name[8:12]

'Jack'

<h3 id="stride">Stride</h3>

 We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsStride.png" width="600" align="center" />

In [42]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'McalJcsn'

We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:

In [43]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

<h2 id="quiz">Quiz on Strings</h2>

What is the value of the variable <code>A</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
"1"
-->

<hr>

Assign value "2" to variable B. Then, what is the value of the variable <code>C</code> after the following code is executed?

C = A + B

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
"12"
-->

<hr>

Consider the variable <code>D</code> use slicing to print out the first three elements:

In [44]:
# Write your code below and press Shift+Enter to execute

D = "ABCDEFG"

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
print(D[:3]) 
# or 
print(D[0:3])
-->

<hr>

Use a stride value of 2 to print out every second character of the string <code>E</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

E = 'clocrkr1e1c1t'

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
print(E[::2])
-->

<hr>

Print out a backslash:

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.
<!-- Your answer is below:
print("\\")
or
print(r" \ ")
-->

<hr>

Convert the variable <code>F</code> to uppercase:

In [28]:
# Write your code below and press Shift+Enter to execute

F = "We are fine."

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
F.upper()
-->

<hr>

Consider the variable <code>G</code>, and find the first index of the sub-string <code>snow</code>:

In [34]:
# Write your code below and press Shift+Enter to execute

G = "Mary has a little lamb. And its fleece was white as snow. And Mary \
went out with the The lamb for sure"

Double-click __here__ for the solution.

<!-- Your answer is below:
G.find("snow")
-->

In the variable <code>G</code>, replace the sub-string <code>Mary</code> with <code>Bob</code>:

In [35]:
# Write your code below and press Shift+Enter to execute
G.replace('Mary', 'Bob')

'Bob has a little lamb. And its fleece was white as snow. And Bob went out with the The lamb for sure'

Double-click __here__ for the solution.

<!-- Your answer is below:
G.replace("Mary", "Bob")
-->